* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.dll binary
*.exe binary
*.icns binary
*.ico binary
*.mov binary
*.mp3 binary
*.node binary
*.pdf binary
*.png binary
*.ttf binary
*.wav binary
*.webm binary
*.woff binary
*.woff2 binary
*.zip binary
